<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Excercises Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./css/home.css" />
        <link rel="stylesheet" type="text/css" href="./css/excercise_index.css" />
    </head>

    <body>
        <header class="navbar">
            <a class="logo" href="./home.html"><img class="logo-image" src="assets\logo-Weewod-full.png" alt="logo"></a>
            <nav>
                <ul class="nav-links">
                    <li><a href="excercise_index.html">Excercises</a></li>
                    <li><a href="routine_index.html">Routines</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <a class="cta" href="page-login.html"><button>Sign In</button></a>
        </header>

        <div class="main-flex">

            <div class="lateral-bar">
                <input type="text" class="search-keyword" name="keyword"> 
            </div>

            <div class="excercises-flex">

                <div class="excercise-card">
                    <img class="excercise-img" src="assets/classes-1.png">
                    <div class="wod-info-flex">
                        <p class="excercise-font-title">Dumbell Curls</p>
                        <p class="excercise-font">This is a WOD for arms, specifically shoulder and bicep work.</p>
                        <p class="excercise-keywords">Keywords: biceps, arms, shoulders, triceps.</p>
                    </div>
                </div>

                <div class="excercise-card">
                    <img class="excercise-img" src="assets/classes-5.jpg">
                    <div class="wod-info-flex">
                        <p class="excercise-font-title">Yoga</p>
                        <p class="excercise-font">This is a WOD for arms, specifically shoulder and bicep work.</p>
                        <p class="excercise-keywords">Keywords: biceps, arms, shoulders, triceps.</p>
                    </div>
                </div>

                <div class="excercise-card">
                    <img class="excercise-img" src="assets/bg_3.jpg">
                    <div class="wod-info-flex">
                        <p class="excercise-font-title">Dumbell Curls</p>
                        <p class="excercise-font">This is a WOD for arms, specifically shoulder and bicep work.</p>
                        <p class="excercise-keywords">Keywords: biceps, arms, shoulders, triceps.</p>
                    </div>
                </div>

                <div class="excercise-card">
                    <img class="excercise-img" src="assets/gallery-7.jpg">
                    <div class="wod-info-flex">
                        <p class="excercise-font-title">Chin Up</p>
                        <p class="excercise-font">Exteniung, not recommended for beginners.</p>
                        <p class="excercise-keywords">Keywords: cardio, abs, fat burning.</p>
                    </div>
                </div>

                <div class="excercise-card">
                    <img class="excercise-img" src="assets/success-1.jpg">
                    <div class="wod-info-flex">
                        <p class="excercise-font-title">Hammer Curls</p>
                        <p class="excercise-font">Your best leg day of them all.</p>
                        <p class="excercise-keywords">Keywords: cuadriceps, twin muscles.</p>
                    </div>
                </div>

                <div class="excercise-card">
                    <img class="excercise-img" src="assets/image_6.jpg">
                    <div class="wod-info-flex">
                        <p class="excercise-font-title">Bar Curls</p>
                        <p class="excercise-font">You will feel releived and ready for your next WOD.</p>
                        <p class="excercise-keywords">Keywords: joints, elonging.</p>
                    </div>
                </div>
            </div>
        </div>    
    </body>
</html>