<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./side.css">
    <title>Excercise detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5ec735b0b1.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- side bar start -->
    <nav class="sidebar">
        <ul class="sidebar-nav">
            <li class="logo">
                <a href="" class="side-link1">
                    <img src="./assets/logo.png" alt="">
                    <div class="logo-text">WEWOD</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="./index-user.html" class="side-link"><i class="fas fa-tachometer-alt icon-buffer"></i>
                    <div class="link-text">Dashboard</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="./user-perfil.html" class="side-link"><i class="fas fa-address-card icon-buffer"></i>
                    <div class="link-text">My profile</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="./User-rutines.html" class="side-link"><i class="fas fa-running icon-buffer"></i>
                    <div class="link-text">My rutines</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="" class="side-link"><i class="fas fa-table icon-buffer"></i>
                    <div class="link-text">Training data</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="" class="side-link"><i class="fas fa-sign-out-alt icon-buffer"></i>
                    <div class="link-text">Sign out</div>
                </a>
            </li>
        </ul>
    </nav>
    <!-- side bar end -->
    <!-- header sec start -->
    <div class="header1">
        <div class="panel-name">
            <i class="fas fa-bars"></i> Excercise Detail
        </div>

        <div class="user-foto">
            <img src="./assets/profile.png" alt="" class="foto">
            Username
        </div>
    </div>
    <!-- header sec end -->
    <main>
        <div class="container">
            <div class="div-planner">

                <!-- rutine header start -->
                    <div class="planner-title">
                        <img src="./assets/chin-weight.gif" alt="">

                        <div class="rutine-info">
                            <h3 class="title-1">Closed range pull up</h3>
                            <p>Designed by: John</p>
                        </div>

                        <button class="btn-planner1"><i class="fas fa-comment-dots"></i>  Ask Trainer</button>
                    </div>
                <!-- rutine header end -->
                <div class="exercise-content">
                    <div class="m-group">
                        
                        <div class="m-group-text">
                            <h3>Target muscle groups:</h3>
                            <ul>
                                <li>Bicep</li>
                                <li>Back</li>
                            </ul>
                        </div> 
                        <img src="./assets/groups/Back-Middle.png" alt="">
                        <img src="./assets/groups/Biceps-1.png" alt="">
                    </div>
                   

                    <div class="exercise-info">
                        <h3>Excersice detail:</h3>
                        <ul>
                            <li>Start by positioning yourself under the center of a pullup bar. Reach up and grip the bar with both hands, palms facing away from you. Your arms should be extended straight overhead.</li>
                            <li>Wrap your fingers over the bar and your thumb under the bar so that it’s almost touching your fingertips.</li>
                            <li>Make sure your hands are a little more than shoulder-width apart.</li>
                            <li>Press your shoulders down.</li>
                            <li>Bring your shoulder blades toward each other, as if you are trying to use them to squeeze a lemon.</li>
                            <li>Lift your feet completely off the floor, crossing your ankles. This is called a “dead hang.”</li>
                            <li>Lift your chest slightly and pull. Draw your elbows down to your body until your chin is above the bar.</li>
                            <li>As you lower yourself back down, control your release to prevent injury.</li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </main>
</body>

</html>