<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HomePage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="CSS/home.css"/>
  </head>

  <body>

    <header class="navbar">
          <a href="./home.html" class="logo"><img class="logo-image" src="assets/logo-Weewod-full.png" alt="logo"></a>
      <nav>
        <ul class="nav-links">
          <li><a href="excercise_index.html">Excercises</a></li>
          <li><a href="routine_index.html">Routines</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <a class="cta" href="page-login.html"><button>Sign In</button></a>
    </header>

    <section class="slider-hero">
      <div class="slider-hero work">
        <div class="slider-hero work img">
        </div>
      </div>
    </section>

    <div class="explore-container">
      <h1>Workout</h1>
      <h1>Of the</h1>
      <h1>Day</h1>
      <h2>The evolution of Daily Workout</h2>
    </div>

    <section class="notice-hero">
      <div class="notice-hero notice">
        <div class="notice-hero notice img"></div>
        <div class="notice-hero notice notice-container">
          <div class="notice-hero notice notice-title">
            <h1 class="notice-title-font">This is a <span class="notice-content-font keyword">Notice</span></h1>
          </div>
          <div class="notice-hero notice notice-content">
            <p class="notice-content-font">On this notice we will give you information about the new <span class="notice-content-font keyword">professionals</span> that are adding up to our <span class="notice-content-font keyword">network</span>.</p>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>