<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./side.css">
    <title>User Perfil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5ec735b0b1.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- side bar start -->
    <nav class="sidebar">
        <ul class="sidebar-nav">
            <li class="logo">
                <a href="" class="side-link1">
                    <img src="./assets/logo.png" alt=""> <div class="logo-text">WEWOD</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="./index-user.html" class="side-link"><i class="fas fa-tachometer-alt icon-buffer"></i>
                    <div class="link-text">Dashboard</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="./user-perfil.html" class="side-link"><i class="fas fa-address-card icon-buffer"></i>
                    <div class="link-text">My profile</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="./User-rutines.html" class="side-link"><i class="fas fa-running icon-buffer"></i>
                    <div class="link-text">My rutines</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="" class="side-link"><i class="fas fa-table icon-buffer"></i>
                    <div class="link-text">Training data</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="" class="side-link"><i class="fas fa-sign-out-alt icon-buffer"></i>
                    <div class="link-text">Sign out</div>
                </a>
            </li>
        </ul>
    </nav>
    <!-- side bar end -->
    <!-- header sec start -->
    <div class="header1">
        <div class="panel-name">
            <i class="fas fa-bars"></i> Dashboard
        </div>

        <div class="user-foto">
            <img src="./assets/profile.png" alt="" class="foto">
            Username
        </div>
    </div>
    <!-- header sec end -->
    <main>
        <div class="container">
            <!-- first row start -->
            <div class="row">
                <!-- resume sec start -->
                <div class="col-xl-12 col-xxl-6">
                    <div class="row">
                        <div class="col-6 card-box">
                            <div class="card card-buffer1">
                                <i class="fas fa-clock"></i>
                                <div class="card-text">
                                    <p class="des">Total training time</p>
                                    <p class="info">43h</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 card-box">
                            <div class="card card-buffer2">
                                <i class="fas fa-running"></i>
                                <div class="card-text">
                                    <p class="des">Total running distance</p>
                                    <p class="info">5km</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 card-box">
                            <div class="card card-buffer3">
                                <i class="fas fa-calendar-day"></i>
                                <div class="card-text">
                                    <p class="des">Total training days</p>
                                    <p class="info">10 days</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 card-box">
                            <div class="card card-buffer4">
                                <i class="fas fa-spa"></i>
                                <div class="card-text">
                                    <p class="des">Total meditation/yoga time</p>
                                    <p class="info">5h</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- resume sec end -->
                <!-- daily rutine strat -->
                <div class="col-xl-12 col-xxl-6">
                    <div class="d-rutine">
                          <div class="rutine-text">
                                <h2>Today's rutine</h2>
                                <p class="r-content">Upper body training</p>
                                <a href="./rutine-detail.html"><button class="btn-1"> <i class="fas fa-dumbbell"></i> View details</button></a>
                          </div>
                          <div class="rutine-img">
                              <img src="./assets/bg_3.jpg" alt="" class="img">
                          </div>
                    </div>
                </div>
                <!-- daily rutine end -->
            </div>
            <!-- first row end -->
            <!-- second row start -->
            <div class="row">
                <!-- excersice recomendation start -->
                <div class="col-xl-12 col-xxl-6">
                   <div class="d-card">
                       <div class="card-title">
                           <p>Certificated User recomendation</p> 
                            <button class="btn-card">View more</button>
                       </div>
                    <div class="col-4 small-card">
                        <img src="./assets/1.jpg" alt="">
                        <h4>John</h4>
                        <p>Body builder at N1 Gym</p>
                    </div>

                    <div class="col-4 small-card">
                        <img src="./assets/2.jpg" alt="">
                        <h4>Emma</h4>
                        <p>Profesional Yoga teacher</p>
                    </div>

                    <div class="col-4 small-card">
                        <img src="./assets/3.jpg" alt="">
                        <h4>Max</h4>
                        <p>Profesional Athelet</p>
                    </div>

                   </div> 
                </div>
                <!-- excersice recomendation end -->

                <!-- rutine recomendation start -->
                <div class="col-xl-12 col-xxl-6">
                    <div class="d-card">
                        <div class="card-title">
                            <p>Recomended rutines for you</p> 
                             <button class="btn-card">View more</button>
                        </div>
                     <div class="col-4 small-card">
                         <img src="./assets/bg_3.jpg" alt="" class="img-small">
                         <h4>Iron arms</h4>
                         <a href="#" class="btn-2">View details</a>
                     </div>
 
                     <div class="col-4 small-card">
                         <img src="./assets/img5.jpg" alt="" class="img-small">
                         <h4>Core training</h4>
                         <a href="#" class="btn-2">View details</a>
                     </div>
 
                     <div class="col-4 small-card">
                         <img src="./assets/img7.jpg" alt="" class="img-small">
                         <h4>Dead Lift Focus</h4>
                         <a href="#" class="btn-2">View details</a>
                     </div>
                </div>
                <!-- rutine recomendation end -->
            </div>
            <!-- second row end -->
        </div>
    </main>
</body>

</html>