<!DOCTYPE html>

<html>
    <head>
        <title>WeWOD - Log In</title>
        <meta charset="utf-8">
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <!-- CSS Stylesheet -->
        <link rel="stylesheet" type="text/css" href="./css/page-login.css">
    </head>

    <body>
        <!-- Header -->
        <header>
        </header>
        
        <!-- Form Box -->
        <div class="form-box">
            <form>

                <a href="home.html"><img src="assets/logo-Weewod-full.png" alt="Company logo"></a>

                <h4>Sign in your account</h4>

                <div class="input-box">
                    <div class="label-input-box">
                        <label for="email">Email</label><br>
                        <input type="text" class="register-form-input" id="email" name="email"><br>
                    </div>
                    <div class="label-input-box">
                        <label for="password">Password</label><br>
                        <input type="text" class="register-form-input" id="password" name="password"><br>
                    </div>
                </div>

                <div class="remember-box">
                    <input type="checkbox" class="password_checkbox" value="remember_password">
                    <label>Remember my preference</label>
                    <a class="white-link" id="forgot_password" href="page-forgot-password.html">Forgot Password?</a>
                </div>

                <input type="submit" class="form-submit-button" value="Sign me in"><br>

                <p>
                    Don't you have an account?
                    <a class="white-link" href="page-register.html">Sign up</a>
                </p>
            </form>
        </div>
    </body>
</html>