<!DOCTYPE html>

<html>
    <head>
        <title>WeWOD - Register</title>
        <meta charset="utf-8">
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <!-- CSS Stylesheet -->
        <link rel="stylesheet" type="text/css" href="./css/page-register.css">
    </head>

    <body>
        <!-- Header -->
        <header>
        </header>

        <!-- Form Box -->
        <div class="form-box">
            <form>
                <a href="home.html"><img src="assets/logo-Weewod-full.png" alt="Company logo"></a>

                <h4>Sign up your account</h4>
                
                <!-- Input Box (Contiene todos los label-input boxes) -->
                <div class="input-box">
                    <div class="label-input-box">
                        <label for="username">Username</label><br>
                        <input type="text" class="register-form-input" name="username" placeholder="username"><br>
                    </div>

                    <div class="label-input-box">
                        <label for="email">Email</label><br>
                        <input type="text" class="register-form-input" placeholder="email@example.com"><br>
                    </div>

                    <div class="label-input-box">
                        <label for="password">Password</label><br>
                        <input type="text" class="register-form-input" placeholder="**********"><br>
                    </div>
                </div>

                    <input type="submit" class="form-submit-button" value="Sign me up">

                <!-- Submit Button -->
                <p>
                    Already have an account?
                    <a class="white-link" href="page-login.html">Sign in</a>
                </p>
            </form>
        </div>
    </body>
</html>