<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./side.css">
    <title>User Perfil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5ec735b0b1.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- side bar start -->
    <nav class="sidebar">
        <ul class="sidebar-nav">
            <li class="logo">
                <a href="" class="side-link1">
                    <img src="./assets/logo.png" alt="">
                    <div class="logo-text">WEWOD</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="./index-user.html" class="side-link"><i class="fas fa-tachometer-alt icon-buffer"></i>
                    <div class="link-text">Dashboard</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="./user-perfil.html" class="side-link"><i class="fas fa-address-card icon-buffer"></i>
                    <div class="link-text">My profile</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="./User-rutines.html" class="side-link"><i class="fas fa-running icon-buffer"></i>
                    <div class="link-text">My rutines</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="" class="side-link"><i class="fas fa-table icon-buffer"></i>
                    <div class="link-text">Training data</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="" class="side-link"><i class="fas fa-sign-out-alt icon-buffer"></i>
                    <div class="link-text">Sign out</div>
                </a>
            </li>
        </ul>
    </nav>
    <!-- side bar end -->
    <!-- header sec start -->
    <div class="header1">
        <div class="panel-name">
            <i class="fas fa-bars"></i> Rutine Detail
        </div>

        <div class="user-foto">
            <img src="./assets/profile.png" alt="" class="foto">
            Username
        </div>
    </div>
    <!-- header sec end -->
    <main>
        <div class="container">
            <div class="div-planner">

                <!-- rutine header start -->
                    <div class="planner-title">
                        <img src="./assets/bg_3.jpg" alt="">

                        <div class="rutine-info">
                            <h3>Iron Arm workout</h3>
                            <p>Estimated time: 30 mins</p>
                            <p>Designed by: John</p>
                        </div>

                        <button class="btn-planner1"><i class="fas fa-check-square"></i>  Mark as finish</button>
                    </div>
                <!-- rutine header end -->

                <!-- rutine row start -->
                    <div class="rutine-row">
                        <div class="ex-img">
                            <img src="./assets/bicep-curls.gif" alt="">
                        </div>

                        <div class="ex-info">
                            <h3>Dumbbell Curls</h3>
                            <p>4 X 12</p>
                        </div>

                        <div class="btn-details">
                            <a href="./exercise-detail.html"><i class="fas fa-play"></i> Check details</a>
                        </div>
                    </div>

                    <div class="rutine-row">
                        <div class="ex-img">
                            <img src="./assets/chin-weight.gif" alt="">
                        </div>

                        <div class="ex-info">
                            <h3>Chin Up</h3>
                            <p>4 X Faliure</p>
                        </div>

                        <div class="btn-details">
                            <i class="fas fa-play"></i> Check details
                        </div>
                    </div>

                    <div class="rutine-row">
                        <div class="ex-img">
                            <img src="./assets/curlsthor3.gif" alt="">
                        </div>

                        <div class="ex-info">
                            <h3>Hammer curls</h3>
                            <p>4 X 12</p>
                        </div>

                        <div class="btn-details">
                            <i class="fas fa-play"></i> Check details
                        </div>
                    </div>

                    <div class="rutine-row">
                        <div class="ex-img">
                            <img src="./assets/reverseEZ.gif" alt="">
                        </div>

                        <div class="ex-info">
                            <h3>Bar curls</h3>
                            <p>4 X 12</p>
                        </div>

                        <div class="btn-details">
                            <i class="fas fa-play"></i> Check details
                        </div>
                    </div>
                <!-- rutine row end -->
            </div>

        </div>

    </main>
</body>

</html>