<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./side.css">
    <title>User Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5ec735b0b1.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- side bar start -->
    <nav class="sidebar">
        <ul class="sidebar-nav">
            <li class="logo">
                <a href="" class="side-link1">
                    <img src="./assets/logo.png" alt=""> <div class="logo-text">WEWOD</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="./index-user.html" class="side-link"><i class="fas fa-tachometer-alt icon-buffer"></i>
                    <div class="link-text">Dashboard</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="./user-perfil.html" class="side-link"><i class="fas fa-address-card icon-buffer"></i>
                    <div class="link-text">My profile</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="./User-rutines.html" class="side-link"><i class="fas fa-running icon-buffer"></i>
                    <div class="link-text">My rutines</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="" class="side-link"><i class="fas fa-table icon-buffer"></i>
                    <div class="link-text">Training data</div>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="" class="side-link"><i class="fas fa-sign-out-alt icon-buffer"></i>
                    <div class="link-text">Sign out</div>
                </a>
            </li>
        </ul>
    </nav>
    <!-- side bar end -->
    <!-- header sec start -->
    <div class="header1">
        <div class="panel-name">
            <i class="fas fa-bars"></i> My Profile
        </div>

        <div class="user-foto">
            <img src="./assets/profile.png" alt="" class="foto">
            Username
        </div>
    </div>
    <!-- header sec end -->
    <main>
        <div class="container">
            <div class="user-card">
                <div class="back-img">
                    <img src="./assets/cover.jpg" alt="">
                </div>

                <div class="user-header">
                    <div class="user-1">
                        <img src="./assets/profile.png" alt="" class="foto">
                        <div class="user-intro">
                            <h4>Username</h4>
                            <p>New to body builing</p>
                        </div>
                    </div>
                    

                    <div class="user-interests">
                        Interested In:
                        <ul>
                            <li>Body building</li>
                            <li>Weight lifting</li>
                        </ul>
                    </div>

                    <div class="btn-more">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>

</html>