<section class="slider-hero">
  <div class="slider-hero work">
    <div class="slider-hero work img">
    </div>
  </div>
</section>

<div class="explore-container">
  <h1>Workout</h1>
  <h1>Of the</h1>
  <h1>Day</h1>
  <h2>The evolution of Daily Workout</h2>
</div>

<section class="notice-hero">
  <div class="notice-hero notice">
    <img class="notice-hero notice img" src="<%= assetPath('about.png')%>">
    <div class="notice-hero notice notice-container">
      <div class="notice-hero notice notice-title">
        <h1 class="notice-title-font">Join our <span class="notice-content-font keyword">Network</span></h1>
      </div>
      <div class="notice-hero notice notice-content">
        <p class="notice-content-font">Become one of the well-known <span class="notice-content-font keyword">professionals</span> that make our community great.</p>
        <p class="notice-content-font">Upload your best <span class="notice-content-font keyword">routines</span> and <span class="notice-content-font keyword">exercises</span></p>
        <p class="notice-content-font">Save the world from inertia!</p>
      </div>
    </div>
  </div>
</section>
